@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("font-awesome.min.css");


body {
	background-color: #12A2C0 !important;
}
.well{
	margin: 0 auto;
}
.resultName,.resultRating{
	text-align: left;
	font-size: 24px;
	font-family: 'Source Sans Pro', Helvetica, Arial;
	color: #FFFFFF;
 
}
#map{
  width:500px;
  height:500px;
  
}
@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}

.results{
  text-align: left;
  margin-top: 10px;
}
#rating{
  margin-left: 20px;
}	
#locationBox{
  width: 50%;
}

.mainBox{

  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  height: 800px;
  -webkit-flex-direction: column; /* Safari */
  flex-direction: column;

  width: 200px;
  visibility: visible;
  animation-delay: 300ms;
  -webkit-animation-delay: 300ms;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

/* Firefox < 16, Safari, Chrome and Opera > 12.1, 
Internet Explorer, Opera < 12.1 */
@keyframes fadein, @-moz-keyframes fadein, @-webkit-keyframes fadein, 
@-ms-keyframes fadein, @-o-keyframes fadein{
    from { opacity: 0; }
    to   { opacity: 1; }
}
#ratingText{
  font-size:24px;
  //color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
  //margin-top:20px;
}
input[type=text]{
  width:100%;
  padding: 15px;
  
  //background-color: transparent;
  margin: 0 0 10px 0;
  color: #FFFFFF;
  font-size: 3.2em;
	font-weight: 700;
	color: #fff;
	background: none;
	border: none;
	border-radius: 0;
	border-bottom: 5px solid #fff;
	outline: none;
	padding-left: 0;
	position: relative;
	z-index: 2;
  float:left;
  -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}
#question,#question2{
	color: #FFF;
	font-size: 3.5em;
	padding: 20px;
   -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 

}
.button{
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
  background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
  background-color:#f9f9f9;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#666666;
  font-family:Arial;
  font-size:2.5em;
  margin:20px;
  font-weight:bold;
  font-style:normal;
  height:100px;
  line-height:100px;
  width:131px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
  background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
  background-color:#e9e9e9;
}
.button:active {
  position:relative;
  top:1px;
}
#locationQ, #locationForm{
  display: none;
}
input::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
   text-transform: uppercase;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

.submitBtn{
  width:150px;
  margin-left:5px;
  font-size:1.25em;
  -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}